SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=
CORS_ALLOW_ALL_ORIGINS=True

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=lobel_store_db
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5433

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=webmaster@localhost
FRONTEND_URL=http://localhost:5173

PAYMENT_PROVIDER=mock

LIGDICASH_API_KEY=
LIGDICASH_API_TOKEN=
LIGDICASH_BASE_URL=https://app.ligdicash.com
LIGDICASH_STORE_NAME=LobelStore
LIGDICASH_STORE_URL=http://localhost:5173
LIGDICASH_RETURN_URL=http://localhost:5173/checkout/success
LIGDICASH_CANCEL_URL=http://localhost:5173/checkout/cancel
LIGDICASH_CALLBACK_URL=
